<div class="mesa d-flex flex-column">
    <div class="d-flex flex-row flex-fill">
        <div class="p-2 flex-fill"></div>
        <div class="p-2 flex-fill">
            <app-placar class="text-center flex-fill align-self-start" jogador="Jogador 3" [nivel]="1000"></app-placar>
        </div>
        <div class="p-2 flex-fill"></div>
    </div>
    <div class="d-flex flex-row flex-fill">
        <div class="p-2 d-flex flex-fill flex-row">
            <app-placar class="text-start align-content-end" jogador="Jogador 2" [nivel]="1000"></app-placar>
        </div>
        <div class="p-2 flex-fill"></div>
        <div class="p-2 d-flex flex-fill flex-row justify-content-end">
            <app-placar class="text-end align-content-end" jogador="Jogador 4" [nivel]="1000"></app-placar>
        </div>
    </div>
    <div class="d-flex flex-row flex-fill">
        <div class="p-2 flex-fill"></div>
        <div class="d-flex p-2 flex-fill">
            <app-placar class="text-center flex-fill align-self-end" jogador="Jogador 1" [nivel]="1000"></app-placar>
        </div>
        <div class="p-2 flex-fill"></div>
    </div>
</div>